h1,h2 {
	margin: 0;
	padding: 0;
}

header h1,
header h2 {
	text-align: center;
}

header h1 {
	color: #0d1f2f;
}

header h2 {
	color: #a9b0b5;
	font-size: 14px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
	margin: 0;
}

.tab,
.info {
	display: flex;
}

.adress, 
.billInfo {
	display: flex;
	flex-direction: column;
	width: 260px;
}

.adress {
	margin: 0 60px 0 0;
}

.tab li {
	list-style: none;
	width: 95px;
	height: 75px;
	background-color: #f3f4f7; 
	background-size: 45px;
	margin: 0 30px 0 0;
	box-sizing: border-box;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 3px;
	text-align: center;
}

.info h2 {
	margin: 0 0 25px 0;
}

.info h2:before {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: solid 2px black;
	margin: 0 10px 0 0;
}

.adress h2:before {
	content: "1";
}

.billInfo h2:before {
	content: "2";
}

.tab li.creditCard {
	background-image: url(../img/money.svg);

}

.tab li.giftCard {
	background-image: url(../img/gift-card.svg);
}


.tab li.payPal {
	background-image: url(../img/paypal.svg);
}

.tab li:last-child {
	margin: 0;
}

.tab li:hover {
	border: 2px solid #0092c8;
	background-color: #fff;
}

.tab {
	margin: 0 0 60px 0;
	padding: 0;
}

header {
	margin: 0 0 50px 0;
}

input {
	margin: 0 0 25px 0;
}