
body {
	background: #f0f1f4;
	padding: 40px 0 0 0;
	margin: 0;
}

h1,h2 {
	margin: 0;
	padding: 0;
}

.wrapper {
	margin: 0 auto;
	background: #fff;
	width: 90%;
	height: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 45px 0 0 0;
	font-family: Helvetica, sans-serif;
	box-shadow: 2px 2px 15px rgba(173, 178, 183, 0.8);
}

.header {
	margin: 0 0 50px 0;
}

.header__topic,
.header__description {
	text-align: center;
}

.header__topic {
	color: #0d1f2f;
	margin: 0 0 20px 0;
}

.header__topic:after,
.header__topic:before {
	display: inline-block;
	content: "";
	width: 80px;
	height: 20px;
	background-image: url(../img/zigzag.svg);
	background-position: center;
	background-repeat: repeat-x;
	background-size: 30px;
}

.header__topic:after {
	margin: 0 0 0 20px;
}

.header__topic:before {
	margin: 0 20px 0 0;
}

.header__description {
	color: #a9b0b5;
	font-size: 14px;
}

.payment-method {
	display: flex;
	margin: 0 0 60px 0;
	padding: 0;
}

.payment-method__item {
	cursor: pointer;
	font-size: 10px;
	list-style: none;
	width: 95px;
	height: 75px;
	background-color: #f3f4f7; 
	background-size: 45px;
	margin: 0 30px 0 0;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 3px;
	text-align: center;
	padding-top: 57px;
	box-sizing: border-box;
}

.payment-method__item:last-child {
	margin: 0;
}

.payment-method__item:hover {
	border: 2px solid #0092c8;
	background-color: #fff;
	padding-top: 55px;
}

.payment-method__item._active {
	border: 2px solid #0092c8;
	background-color: #fff;
	padding-top: 55px;
}

.payment-method__item.creditCard {
	background-image: url(../img/money.svg);

}

.payment-method__item.giftCard {
	background-image: url(../img/gift-card.svg);
}


.payment-method__item.payPal {
	background-image: url(../img/paypal.svg);
}

.info-creditCard {
	display: flex;
}

.info-creditCard__adress, 
.info-creditCard__cardInfo {
	display: flex;
	flex-direction: column;
	width: 260px;
}
.info-creditCard input[data="creditCard"] {
	background-image: url(../img/credit-card-grey.svg);
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: 95% 50%;
}

.info-creditCard__adress {
	margin: 0 60px 0 0;
}

.info-creditCard .title {
	margin: 0 0 30px 0;
	font-size: 18px;
}

.info-creditCard label {
	color: #bcc1c5;
	font-size: 14px;
}

.info-creditCard input {
	outline: none;
	padding: 0;
	font-size: 16px;
	min-height: 30px;
	border: 2px solid #f2f2f4;
	box-sizing: border-box;
	border-radius: 3px;
	margin: 0 0 25px 0;
}

.info-creditCard input:focus {
	box-shadow: 1px 1px 6px rgba(173, 178, 183, 0.8);
}

.info-creditCard .title:before {
	text-align: center;
	color: #374552;
	display: inline-block;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border: solid 2px #374552;
	margin: 0 10px 0 0;
	font-size: 16px;
}

.info-creditCard__adress .title:before {
	content: "1";
}

.info-creditCard__cardInfo .title:before {
	content: "2";
}

.group__card-info__input {
	display: block;
	width: 75px;

}

.group__card-info__item {
	display: inline-block;
	margin: 0 13px 0 0;
} 

.group__card-info__item.year {
	margin: 0;
}

.group__card-info__item[data="cvv"] {
	position: relative;
}
.tooltip {
	position: absolute;
	right: 7px;
	bottom: 32px;
	width: 15px;
	height: 15px;
	border: 1px solid #aeb4b9;
	border-radius: 50%;
	text-align: center;
	color: #aeb4b9;
	font-size: 12px;

}
.tooltip::after {
	background: #f3f4f7;
	background-image: url(../img/credit-card-with-cvv-code.svg);
	background-size: 50px;
	background-repeat: no-repeat;
	background-position: 50% 80%;
	border-radius: 8px;
	box-shadow: 1px 1px 10px rgba(173, 178, 183, 0.8);
	content: "Введите код на обратной стороне карты";
	padding: 3px 7px;
	position: absolute;
	bottom: 30px;
	display: none;	
	transition: all 0.4s ease-in-out; 
	width: 160px;
	height: 80px;
	color: black;
}
		
.tooltip:hover::after {
	display: block;
}

.group__card-info__item_variables {
	outline: none;
	display: block;
	width: 70px;
	height: 30px;
	box-sizing: border-box;
	font-size: 16px;
	border: 2px solid #f2f2f4;
}

.group__card-info__item_variables:focus {
	box-shadow: 1px 1px 6px rgba(173, 178, 183, 0.8);
}

.form-submit {
	float: right;
	width: 100px;
	background: #f3f4f7;
	border: 10px solid #000;
	border-radius: 2px;
}

.form-submit:hover {
	background: #fff;
	border-color: #009ccd;
	cursor: pointer;
}

.info-creditCard,
.info-giftCard,
.info-payPal {
	display: none;
	margin: 0 0 20px 0;
}

.info-creditCard._active,
.info-giftCard._active,
.info-payPal._active {
	display: flex;
}

.info-giftCard__item,
.info-payPal__item {
	width: 400px;
	height: 200px;
	border: 2px solid #009ccd;
	text-align: center;
	border-radius: 8px;
	padding: 30px;
	background-repeat: no-repeat;
	background-size: 80px;
	background-position: center;
}

.info-giftCard__item {
	background-image: url(../img/gift-card.svg);
}

.info-payPal__item {
	background-image: url(../img/paypal.svg);
}